/* -- Background image -- */
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*-- Align all contents to center -- */
#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

/* -- CueClick Logo -- */
#logo {
    width: 60%;
    height: auto;
}

#para {
    font-family: "Futura Medium", "Trebuchet MS", Arial, sans-serif;
    color: grey;
    font-size: 1.5vw;
}

/* -- Intructions --*/
ol {
    font-family: "Futura Medium", "Trebuchet MS", Arial, sans-serif;
    color: white;
    font-size: 1.5vw;
}

/* -- Relevant links -- */
#links {
    font-family: "Futura Medium", "Trebuchet MS", Arial, sans-serif;
    font-size: 1vw;
    text-align: right;
    width: 80%;
    margin-top: 3vw;
}

#links a {
    margin-left: 1vw;
}

#links a:link {
    color: grey;
}

#links a:hover {
    color: white;
    cursor: pointer;
}

#links a:visited {
    color: grey;
}

#links a:visted:hover {
    color: white;
    cursor: pointer;
}
