/* -- Futura fonts -- */
@font-face {
    font-family: "Futura Medium";
    src: url('fonts/Futura-Medium.ttf');
}

/* -- Background image -- */
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* -- Center element -- */
.center {
    max-width: 70%;
    height: auto;
    margin-top: 3%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/* -- Logo style -- */
#logo {
    position: relative;
    max-width: 100%;
    height: auto;
}

/* -- Form styles -- */
form.login {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#password {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5%;
}

#pwd:focus {
    border: 2px solid yellow;
}

/* -- Show password -- */
#eye {
    height: auto;
    max-width: 15%;
    margin-left: 3%;
}

/* -- Login element -- */
form.login p {
    font-family: "Futura Medium", "Trebuchet MS", Arial, sans-serif;
    font-size: 5vw;
    color: white;
    max-width: 100%;
    height: auto;
    line-height: 2%;
}
